{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">{{ topic.pk }} - {{ topic.topic }}</h5>
        <p class="card-text">{{ topic.content}}</p>
          <small class="text-body-secondary">{{ topic.created_at }}</small>
          <small class="text-body-secondary">@mdo</small>
        <a href="{% url 'webapp:add_answer' topic.pk %}" class="btn btn-primary">Ответить</a>
      </div>
    </div>
    {% include 'partial/answers_list.html' %}
{% endblock %}