{% extends 'base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
    {% for t in topics %}
 <a href="{% url 'webapp:topic_view' t.pk  %}" style="text-decoration: #1b1b1b">
  {% endfor %}
    <table class="table" >
  <thead aria-disabled="true">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Тема</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Автор</th>
    </tr>
  </thead>
        {% for topic in topics %}
            <tbody>
                <tr>
                  <th scope="row">{{ topic.pk }}</th>
                  <td>{{ topic.topic }}</td>
                  <td>{{ topic.created_at }}</td>
                  <td>@mdo</td>
                </tr>
          </tbody>
    {% empty %}
        Темы еще не добавлены
    {% endfor %}
</table>
     </a>


{% endblock %}