{% extends 'base.html' %}

{% block title %}
    <title>Главная</title>
{% endblock %}

{% block content %}
    <h5 style="text-align: center">Темы</h5>
    {% for topic in topics %}
       <a style="text-decoration: none" href="{% url 'webapp:topic_view' topic.pk %}">
            <table class="table" >
                    <tbody>
                        <tr>
                            <th scope="row">{{ topic.pk }}</th>
                            <td>{{ topic.topic }}</td>
                            <td>{{ topic.created_at }}</td>
                            <td>@mdo</td>
                            <td>Ответов {{ topic.answers.count }}</td>
                        </tr>
                  </tbody>
            </table>
       </a>
    {% empty %}
        Темы еще не добавлены
    {% endfor %}

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}