    <div class="container mt-3">
        <div class="list-group">
            {% for answer in topic.answers.all %}
                <a href="#" class="list-group-item list-group-item-action">
                <img src="" alt="">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ answer.answer }}</h5>
                        <small class="text-body-secondary">Редактировать</small>
                    </div>
                    <p class="mb-1">{{ answer.created_at }}</p>
                    <small class="text-body-secondary">@автор</small>
                </a>
            {% empty %}
                Ответов пока нет
            {% endfor %}
                {% include 'partial/pagination.html' %}
        </div>
    </div>
